[flake8]
max-line-length = 88
extend-ignore = E203,E501
exclude = .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.eggs,*.egg,build,dist
filename = *.py
; per-file-ignores =
;     PATH/TO/SINGLE/FILE/RELATIVE/TO/PROJECT/FOLDER:ErrorCode
; Example:
; per-file-ignores =
;     src/dal/shadow_order.py:N815
